<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>OSLogPreferences</key>
	<dict>
		<key>com.julianvisser.vt1</key>
		<dict>
			<key>statistics</key>
			<dict>
				<key>Enable</key>
				<string>Debug</string>
				<key>Persist</key>
				<string>Debug</string>
			</dict>
			<key>viewcycle</key>
			<dict>
				<key>Enable</key>
				<string>Debug</string>
				<key>Persist</key>
				<string>Debug</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
